body {
  background-color:gray;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color:white;
  height:100%;
  text-align:center;
  font-size:18px;
}
.wrapper {
  background-color: rgb(46, 4, 4);
  color: rgb(237, 237, 250);
}
h1 {
  background-color: black;
  color:white;
}
.container {
  width: 50%;
  margin:auto;
}